.selector{
    display: flex;
    
}
p{
    padding: px 18px;
}

.quantityIncrease{
    border-radius: 0 100px 100px 0;
    padding:       9px 13px;
    box-shadow: none;
    

}

.quantityDecrease{
    border-radius: 100px 0 0 100px;
    padding: 9px 13px;
    box-shadow: none;
    

}


  