<div class="fullWidth">
<ul class="productList">
    <li class="listItem"><img src="../svgCoffee/espresso.svg" alt="Espresso cup"><span>Espresso</span><img src="../svgCoffee/back.svg" alt="right arrow"></li>
    <li class="listItem"><img src="../svgCoffee/cappuccino.svg" alt="Capuccino cup"><span>Capuccino</span><img src="../svgCoffee/back.svg" alt="right arrow"></li>
    <li class="listItem"><img src="../svgCoffee/macciato.svg" alt="Macchiato cup"><span>Macchiato</span><img src="../svgCoffee/back.svg" alt="right arrow"></li>
    <li class="listItem"><img src="../svgCoffee/mocha.svg" alt="Mocha cup"><span>Mocha</span><img src="../svgCoffee/back.svg" alt="right arrow"></li>
    <li class="listItem"><img src="../svgCoffee/latte.svg" alt="Latte cup"><span>Latte</span><img src="../svgCoffee/back.svg" alt="right arrow"></li>
</ul>
</div>
